#outlined-basic{
    height:100%;
    width: 190px;
    
}

#predict{
    color: aqua;
}

.AppBar{
    color: black;
}

.Logo{
    height:100px;
    width:100px;
    padding:10px;
}

.divtable{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.createbtn{
    width:190px;
    color: aqua;
}



