#outlined-basic{
    height:10px;
    width: 190px;  
}

/* body{
    color:rgb(40,60,75);
} */
h3,p{
   color: aliceblue;
}
.Logo{
    height:100px;
    width:100px;
    padding:10px;
}

.actionbutton{
    background-color: rgb(40,60,75);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.createbtn{
    width:190px;
    color: aqua;
}

/* .editbutton{
    display: flex;
    justify-content:space-between;
} */

.addbutton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1400px;
    background-color: rgb(45,67,81);
    padding: 20px;
}
.btn{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 7px;
}
.add{
    width: 49%;
}

.editbutton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: rgb(45,67,81);
    
}
.txt{
    padding: 20px;
}
.edittextfield{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}
.editfield{
    padding-right: 40px;
}
.edit{
    width: 49%;
}

.deletebutton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 370px;
    background-color: rgb(45,67,81);
}


